.head {
  cursor: pointer;
}

.head .logo img {
  width: 500px;
}

header {
  background-color: #000;
  color: #fff;
}

header li {
  margin-right: 30px;
  transition: 0.5s;
  text-transform: capitalize;
}
header li a {
  transition: 0.5s;
  color: #fff;
}

header li a:hover {
  color: crimson;
  cursor: pointer;
}

.barIco {
  font-size: 25px;
  background: none;
  display: none;
  border: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .head .ad {
    display: none;
  }

  header .flex {
    display: none;
  }

  header .icon {
    display: none;
  }

  .barIco {
    display: block;
  }

  header .navbar {
    position: absolute;
    display: block;
    background-color: #fb4c35;
    left: 0;
    top: 210px !important;
    width: 100%;
    height: 40vh;
    z-index: 5;
    padding: 50px;
  }

  header ul li {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 538px) {
  .head .logo img {
    width: 293px;
  }
}
